.header__section .header__top {
    height:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 10px;
}

.header__top .right__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: rgba(255,255,255,0.85);
}

.right__section .js-place:hover{
    color: rgba(255,255,255,1);
}

.left__section{
    width: 260px;
    height: 20px;
}

.left__section .search__bar{
    background:0;
    outline: none;
    border: none;
}
.left__section select{
    opacity: 0;
}


#weather-icon{
    margin-right: 10px;
}

.search__menu{
    display: none;
    height: 120px;
    width: 250px;
    background-color: var(--bg-color);
    position: relative;
    margin-top: 15px;
    border-radius: 10px;
    text-align: left;
}

.on {
    display: block;
}

.bubble::after{
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: -15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #000;
    transform: rotate(90deg);
}

.links{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

li{
    list-style-type: none;
}

.left__section i,a{
    color: rgba(255,255,255,0.85);
}

a{
    outline: none;
    border: none;
    text-decoration: none;
}

.links a:hover,
.fa-search:hover,
.js-weather:hover,
#weather-icon:hover{
    color: rgba(255,255,255,1);
}
