.header__section .header__top {
    height:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 10px;
}

.header__top .right__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: rgba(255,255,255,0.85);
}

.right__section .js-place:hover{
    color: rgba(255,255,255,1);
}

.left__section{
    width: 260px;
    height: 20px;
}

.left__section .search__bar{
    background:0;
    outline: none;
    border: none;
}
.left__section select{
    opacity: 0;
}

/* .left__section:hover{
    border-bottom: 1px solid #ffffff;
    opacity: 1;
} */

#weather-icon{
    margin-right: 10px;
}

.search__menu{
    display: none;
    height: 100px;
    width: 250px;
    background-color: black;
    position: relative;
    margin-top: 15px;
    border-radius: 10px;
}

.on {
    display: block;
}


.bubble::after{
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: -15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #000;
    transform: rotate(90deg);
}