@import "./reset.css";
@import "./sayHello.css";
@import "./background.css";
@import "./toDo.css";
@import "./lesson.css";
@import "./header.css";

:root{
    --main-color : #ffffff;
    --bg-color : black;
}

body{
    text-shadow: 0px 10px 25px rgba(0,0,0,0.5);
}

.content__container{
    position: relative;
    top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock__container{
    margin: 20px 0;
}

.clock__container .time{
    font-size: 1050%;
    color: var(--main-color);
}

.time{
    vertical-align: baseline;
}
