@import "./reset.css";
@import "./sayHello.css";
@import "./background.css";
@import "./toDo.css";
@import "./lesson.css";
@import "./header.css";

.content__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
}

.clock__container{
    margin: 20px 0;
}

.clock__container .time{
    font-size: 1050%;
    color: #f5f6fa;
}


